<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true"/>
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}"/>
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^" ignoreCase="false"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true"/>
          </conditions>
          <action type="Rewrite" url="index.php"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="401"/>
      <error statusCode="401" path="401.htm"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="403.htm"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="404.htm"/>
      <remove statusCode="405"/>
      <error statusCode="405" path="405.htm"/>
      <remove statusCode="406"/>
      <error statusCode="406" path="406.htm"/>
      <remove statusCode="412"/>
      <error statusCode="412" path="412.htm"/>
      <remove statusCode="431"/>
      <error statusCode="431" path="431.htm"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="500.htm"/>
      <remove statusCode="501"/>
      <error statusCode="501" path="501.htm"/>
      <remove statusCode="502"/>
      <error statusCode="502" path="502.htm"/>
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="D:\Inetpub\vhosts\baul-factory.com\tmp"/>
  </system.web>
</configuration>
